* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__basico {
    width: 90%;
    max-width: 400px;
    padding: 0.6rem;
    margin: 0.4em 0.6em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container__h1 {
    margin-top: 0.8em;
}


.titulo__basico {
    text-align: center;
    font-size: 24px;
}

.titulo__pagina {
    font-size: 30px;
    padding: 0.5em 0;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
}

.grid__item {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.input__acumuladores {
    width: 100%;
    padding: 0.7rem;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
}

.titulo__acumuladores, .titulo__somatotal, .titulo__diferenca {
    padding-bottom: 0.6em;
}

.titulo__notas {
    padding-top: 0.5em;
}

.titulo__moedas {
    padding-top: 1rem;
}

.tabela__notas, .tabela__moedas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tabela__notas th, .tabela__moedas th,
.tabela__notas td, .tabela__moedas td {
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid #ccc;
}

.imagem__nota {
    width: 70px;
    height: auto;
}

.imagem__moeda {
    width: 50px; /* Moedas menores */
    height: auto;
}


.input__quantidade {
    width: 80px; /* Definindo uma largura menor para a quantidade */
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #333;
    text-align: center;
}

.input__dinheiro {
    width: 100%; /* Mantendo a largura completa para valor */
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #333;
    text-align: center;
}


.subtitulo__moedas {
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
}

.container__somatotal, .container__acumuladores, .container__diferenca {
    padding-bottom: 0.6em;
}

.diferenca-negativa {
    background-color: #ffcccb; /* Vermelho claro */
    border: 2px solid #ff0000; /* Vermelho forte */
}

.diferenca-positiva {
    background-color: #ccffcc; /* Verde claro */
    border: 2px solid #00ff00; /* Verde forte */
}

.valor-invalido, .quantidade-invalida {
    background-color: #ffcccb; /* Vermelho claro */
    border: 2px solid #ff0000; /* Vermelho forte */
}

.container__limpar {
    margin-top: 0.4em;
    text-align: center;
}

.botao__limpar {
    background-color: white; /* Vermelho claro */
    color: black;
    padding: 0.7rem 1.5rem;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 100%;
}



